################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/CoreTempMonitor/obj
*.out
/CoreTempMonitor/readme
/CoreTempMonitor/.vs/CoreTempMonitor/v14/.suo
*.sdf
*.user
*.opendb
